language: node_js
node_js:
  - "7"
script:
  - "npm run copy-data"
  - "BASE_URL=https://registry.opendata.aws npm run build"
before_deploy:
  - "pip install awscli --upgrade --user"
deploy:
  provider: script
  script: bash _scripts/deploy.sh
  skip_cleanup: true
  on:
    branch: master