  <div class="col-md-5 col-md-offset-1">
    
      <h3>About</h3>
      <p>Quis enim eiusmod fugiat ad ut ullamco esse id ex ex ullamco in et dolor irure do exercitation culpa.</p>

      <h4>Search datasets</h4>
      <form>
        <div class="form-group">
          <input type="text" id="search-box" class="form-control" placeholder="Search Datasets">
        </div>
      </form>
    
  </div>
