<div class="about col-md-5">
  <div class="row aboutbox">
    <h3>About</h3>
    <p class="lede">Welcome to the Registry of Open Data on Amazon Web Services (AWS).</p> 
    <p>When data is shared on AWS, anyone can analyze it and build services on top of it using a broad range of compute and data analytics products, including <a href="https://aws.amazon.com/ec2/">Amazon EC2</a>, <a href="https://aws.amazon.com/athena/">Amazon Athena</a>, <a href="https://aws.amazon.com/lambda/">AWS Lambda</a>, and <a href="https://aws.amazon.com/emr/">Amazon EMR</a>. Sharing data in the cloud lets data users spend more time on data analysis rather than data acquisition. This repository exists to help people promote and discover datasets that are available via AWS resources.</p>

    <p>See <a href="/usage-examples">all usage examples for datasets listed in this registry</a>.</p>

    <hr>

    <h4>Search datasets (currently <span id="count-matching">13</span> matching <span id="count-matching-text">datasets</span>)</h4>
    <form>
      <div class="form-group">
        <input type="text" id="search-box" class="form-control" placeholder="Search datasets">
      </div>
    </form>

    <hr>

    <h4>Add to this registry</h4>
    <p>If you want to add a dataset or example of how to use a dataset to this registry, please follow the instructions on the <a href="https://github.com/awslabs/open-data-registry/">Registry of Open Data on AWS GitHub repository</a>.</p>

    <p>Unless specifically stated in the applicable dataset documentation, datasets available through the Registry of Open Data on AWS are not provided and maintained by AWS. Datasets are provided and maintained by a variety of third parties under a variety of licenses. Please check dataset licenses and related documentation to determine if a dataset may be used for your application.</p>
  </div>
</div>
