<div class="about col-md-5">
  <div class="row aboutbox">
    <h3>About</h3>
    <p class="lede">Welcome to the Registry of Open Data on Amazon Web Services (AWS). The datasets listed here are available for fast access using AWS APIs and SDKs.</p>

    <p>Datasets are produced and maintained by a variety of groups under a variety of licenses. Please check dataset licenses and documentation to determine if these datasets can be used for your applications.</p>

    <hr>

    <h4>Search datasets</h4>
    <form>
      <div class="form-group">
        <input type="text" id="search-box" class="form-control" placeholder="Search datasets">
      </div>
    </form>

    {{!--
    <hr>

    <h4>Add to this registry</h4>
    <p>If you want to add a dataset or example of how to use a dataset to this registry, please follow the instructions on the <a href="https://github.com/awslabs/open-data-registry/">Registry of Open Data on AWS GitHub repository</a>.</p>
    --}}
  </div>
</div>
