<div class="about col-md-5">
  <div class="row aboutbox">
    <h3>About</h3>
    <p class="lede">Welcome to the Registry of Open Data on Amazon Web Services (AWS). The datasets listed here are available for fast access using AWS APIs and SDKs.</p>

    <p>Unless specifically stated in the applicable dataset documentation, datasets available through the Registry of Open Data on AWS are not provided and maintained by AWS. Datasets are provided and maintained by a variety of third parties under a variety of licenses. Please check dataset licenses and related documentation to determine if a dataset may be used for your application.</p>

    <hr>

    <h4>Search datasets</h4>
    <form>
      <div class="form-group">
        <input type="text" id="search-box" class="form-control" placeholder="Search datasets">
      </div>
    </form>

    {{!--
    <hr>

    <h4>Add to this registry</h4>
    <p>If you want to add a dataset or example of how to use a dataset to this registry, please follow the instructions on the <a href="https://github.com/awslabs/open-data-registry/">Registry of Open Data on AWS GitHub repository</a>.</p>
    --}}
  </div>
</div>
