<div class="about col-md-5">
  <div class="row aboutbox">
    <h3>About</h3>
    <p class="lede">Welcome to the Registry of Open Data on Amazon Web Services (AWS). The datasets listed here are available for fast access using AWS APIs and SDKs. Datasets are produced and maintained by a variety of groups under a variety of licenses.</p>

    <h4>Search datasets</h4>
    <form>
      <div class="form-group">
        <input type="text" id="search-box" class="form-control" placeholder="Search datasets">
      </div>
    </form>
    <hr>

    <h4>Add a dataset</h4>
    <p>If you want to add a dataset to this list, please follow the instructions on our <a href="https://github.com/awslabs/open-data-registry/">Open Data Registry GitHub repository</a>.</p>
  </div> 
</div>
