  <hr/>
  {{#if isDetail}}
  <p><a href="/"><b>Home</b></a></p>
  <!-- <p>If you want to add a dataset to this site, please follow the instructions on the <a href="https://github.com/awslabs/open-data-registry/">Registry of Open Data on AWS GitHub repository</a>.</p> -->
  {{/if}}
</div>