  <hr/>
  {{#if isDetail}}
  <p><a href="https://github.com/awslabs/open-data-registry/blob/master/datasets/{{Slug}}.yaml">Edit this dataset entry on GitHub</a></p>
  <p><a href="/"><b>Home</b></a></p>
  {{/if}}
  {{#if isExamples}}
  <p>If you want to add a dataset or usage example to this registry, please follow the instructions on the <a href="https://github.com/awslabs/open-data-registry/">Registry of Open Data on AWS GitHub repository</a>.</p>
  <p><a href="/"><b>Home</b></a></p>
  {{/if}}
</div>