<hr/>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>About ODAR</h3>
      <p>Quis enim eiusmod fugiat ad ut ullamco esse id ex ex ullamco in et dolor irure do exercitation culpa.</p>
    </div>
    <div class="col-md-6">
      <h3>About AWS</h3>
      <p>Do sint aliqua sunt excepteur occaecat id aliquip in in culpa pariatur incididunt in pariatur eu.</p>
    </div>
  </div>
</div>