@font-face {
    font-family: 'AmazonEmberLight';
    src: url('https://a0.awsstatic.com/main/fonts/amazon-ember/AmazonEmber_Lt.woff2') format('woff2'), url('https://a0.awsstatic.com/main/fonts/amazon-ember/AmazonEmber_Lt.woff') format('woff');
}

@font-face {
    font-family: 'AmazonEmber';
    src: url('https://a0.awsstatic.com/main/fonts/amazon-ember/AmazonEmber_Rg.woff2') format('woff2'), url('https://a0.awsstatic.com/main/fonts/amazon-ember/AmazonEmber_Rg.woff') format('woff');
}

@font-face {
    font-family: 'AmazonEmberBold';
    src: url('https://a0.awsstatic.com/main/fonts/amazon-ember/AmazonEmber_Bd.woff2') format('woff2'), url('https://a0.awsstatic.com/main/fonts/amazon-ember/AmazonEmber_Bd.woff') format('woff');
}

a { color:#007dbc; }

a:hover {
  text-decoration: underline;
  color: #eb5f07;
}

body { padding: 70px 0 30px 0;
  font-family: AmazonEmber, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.tag {
  margin-right: .8em;
}

.link-tag {
  cursor: pointer;
}

.navbar-default {
  background-color: #232F3E;
}

.roda-header h1, .roda-header h2 {
  font-size: 24px;
  color: #FFF;
  float:left;
  margin: 20px 0 10px 0;
}

.roda-header h2 a {
  color:#FFF;
}

h1, h2, h3, h4, .dataset h3 a {
  font-family: AmazonEmberBold, Helvetica Neue Bold, Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#232F3E;
}

.dataset h3 a:hover {
  color:#eb5f07;
}

.datasets {
  padding-bottom: 30px;
}

#dataatwork {
  margin-top: 1.6em;
}

#dataatwork h4 a {
  color: #232F3E;
}

.dataset {
  margin-bottom: 2em;
}

.lede {
  font-family: AmazonEmberLight, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.28em;
  font-weight: 200;
  line-height: 1.6em;
}

#aws_header_logo {
  max-width: 59px;
  float:right;
  padding:16px 0 16px 0 ;
}

.label {
  font-weight: 400;
}

.label-info {
  background-color: #007dbc;
}

.label-info:hover {
  background-color: #eb5f07;
}

/*.resource-list:nth-child(odd) {
  background-color: #E5FFFF;
}*/

ul.resource-list {
  padding: 0;
  list-style-type: none;
}

ul.resource-list li {
  margin: 0 0 2em 0;
  border-bottom: 1px solid #d5dbdb;
}

ul.resource-list li:only-of-type {
  border-bottom:none;
}

dt {
  margin-top: .6em;
}

@media (max-width:768px) {
  .roda-header h1, .roda-header h2 {
    font-size: 18px;
    color: #FFF;
    float:left;
    margin: 20px 0 20px 0;
  }
  #aws_header_logo {
    max-width: 40px;
    float:right;
    padding:16px 0 16px 0 ;
  }
}

@media (min-width:992px) {
 .aboutbox {
    position:fixed;
    z-index: 2;
    max-width: 392px;
  }
}

@media (min-width:1200px) {
 .aboutbox {
    position:fixed;
    z-index: 2;
    max-width: 490px;
  }
}